<%- include('partials/header') %>

<a href="/logout" class="navbar-text">
Logout
</a>

</nav>

<p>User Mail :  <%=email%></p>
<p>User Name :  <%=username%></p>

<h1>This is the cart Tab</h1>




<%- include('partials/footer') %>
